/* # Header ===== */
.no-js [data-responsive-toggle] {
	display: none;
}

/* ## Top Bar ===== */
.top-bar-title {
	h1 {
		a {
			padding: 0;
		}
	}
}

// Custom logo
.wp-custom-logo {
	.top-bar-title {
		h1 {
			a {
				display: block;
				text-indent: 101%;
				overflow: hidden;
				background-size: contain;
			}
		}
	}
}

// Line up the logo/header text to the rest of the site
.top-bar {
	@include grid-column-gutter($gutters: $grid-column-gutter);

	.site-title {
		margin: 0;
		font-size: rem-calc(21);
		font-weight: bold;

		a {
			padding-left: 0;
		}
	}

	a {
		color: $black;
	}
}

li.description {
	display: none;
}

/* ## Title Bar ===== */