/* # Header ===== */
.no-js [data-responsive-toggle] {
	display: none;
}

// Custom logo
.wp-custom-logo {
	.top-bar-title {
		h1 {
			a {
				display: block;
				text-indent: 101%;
				overflow: hidden;
				background-size: contain;
			}
		}
	}
}

// Show/hide nav elements
.offcanvas-navigation {
	.top-bar {
		display: none;
	}

	@include breakpoint(medium up) {
		.top-bar {
			display: flex;
		}
	}
}

.popup-navigation {
	.off-canvas-menu {
		transform: none;
		opacity: 0;
		width: 100vw;
		height: 0;
		transition: opacity 0.25s ease-in-out;
	}
}

.popup-active {
	height: 100vh;
	overflow: hidden;

	.off-canvas-menu {
		position: absolute;
		top: 0;
		width: 100vw;
		height: 100vh;
		background: #000;
		opacity: 0.9;
		transition: opacity 0.25s ease-in-out;
		overflow: auto;
		transform: none;
	}
}

/* Custom Top Bar Styles */

// Center the title and menu
/*.top-bar {
	display: flex;

	.menu-primary {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}*/

li.description {
	display: none;
}
