#main {
	> .wrap {
		@include flex-grid-row();
	}
}

/* # Container Layout Structure ===== */
.container-body-boxed {

}

.container-body-full-width {
	#main {
		> .wrap {
			max-width: none;
		}
	}
}

.container-header-boxed {
	header.header {
		background-color: $topbar-background;
	}
	
	.top-bar {
		max-width: $global-width;
		margin: 0 auto;
	}
}

.container-header-contained {
	header.header {
		background-color: $topbar-background;
	}
	
	.top-bar {
		max-width: $global-width;
		margin: 0 auto;
	}
}

.container-header-full-width {

}

.container-footer-boxed {
	footer.footer {
		> .wrap {
			@include flex-grid-row();
		}
	}
}

.container-footer-contained {
	footer.footer {
		> .wrap {
			@include flex-grid-row();
		}
	}
}

.container-footer-full-width {

}

.container-archive-boxed,
.container-page-boxed,
.container-post-boxed,
.container-singular-boxed {
	#main {
		> .wrap {
			@include flex-grid-row();
		}
	}
}

.container-archive-contained,
.container-post-contained,
.container-page-contained,
.container-singular-contained {
	#main {
		> .wrap {
			@include flex-grid-row();
		}
	}
}

.container-archive-full-width,
.container-post-full-width,
.container-page-full-width,
.container-singular-full-width {
	#main {
		> .wrap {
			max-width: none;
		}
	}
}

/* # Layout Structure ===== */
#main {
	.layout-1c & {
		main.content {
			@include small-column(12);
			@include medium-column(12);
			@include large-column(12);
		}
		.sidebar-primary,
		.sidebar-secondary {
			@include small-column(12);
			@include medium-column(12);
			@include large-column(12);
		}
	}

	.layout-2c-l & {
		main.content {
			@include small-column(12);
			@include medium-column(8);
			@include large-column(8);
		}
		.sidebar-primary,
		.sidebar-secondary {
			@include small-column(4);
			@include medium-column(4);
			@include large-column(4);
		}
	}

	.layout-2c-r & {
		main.content {
			@include small-column(12);
			@include medium-column(8,2);
			@include large-column(8,2);
		}
		.sidebar-primary,
		.sidebar-secondary {
			@include small-column(12);
			@include medium-column(4,1);
			@include large-column(4,1);
		}
	}
}