.main-wrap {
	@include xy-grid();
}

/* # Container Layout Structure ===== */
.container-header-boxed {
	header.header {
		background-color: $topbar-background;
	}
	
	.top-bar {
		max-width: $global-width;
		margin: 0 auto;
	}
}

.container-header-contained {
	header.header {
		background-color: $topbar-background;
	}
	
	.top-bar {
		max-width: $global-width;
		margin: 0 auto;
	}
}

.container-header-full-width {

}

.container-footer-boxed {
	.footer-wrap {
		@include xy-grid();
	}
}

.container-footer-contained {
	.footer-wrap {
		@include xy-grid();
		max-width: $global-width;
		margin-left: auto;
		margin-right: auto;
	}
}

.container-footer-full-width {

}

.container-body-boxed {
	.main-wrap {
		@include xy-grid();
		max-width: $global-width;
		margin-left: auto;
		margin-right: auto;
	}
}

.container-archive-boxed,
.container-page-boxed,
.container-post-boxed,
.container-singular-boxed {
	.main-wrap {
		@include xy-grid();
		max-width: $global-width;
		margin-left: auto;
		margin-right: auto;
	}
}

.container-archive-contained,
.container-post-contained,
.container-page-contained,
.container-singular-contained {
	.main-wrap {
		@include xy-grid();
		max-width: $global-width;
		margin-left: auto;
		margin-right: auto;
	}
}

/* # Layout Structure ===== */
.layout-1c {
	main.content {
		@include xy-cell-size(12, $gutter-type: none);
		@include xy-gutters($gutters: $grid-padding-gutters, $gutter-type: padding);
	}
	.sidebar-primary,
	.sidebar-secondary {
		@include xy-cell-size(12, $gutter-type: none);
		@include xy-gutters($gutters: $grid-padding-gutters, $gutter-type: padding);
	}

	&.fl-builder {
		main.content,
		.sidebar-primary,
		.sidebar-secondary {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.layout-2c-l {
	main.content {
		@include xy-cell-size(12, $gutter-type: none);
		@include xy-gutters($gutters: $grid-padding-gutters, $gutter-type: padding);

		@include breakpoint(medium) {
			@include xy-cell-size(8, $gutter-type: none);
		}

		@include breakpoint(large) {
			@include xy-cell-size(8, $gutter-type: none);
		}
	}
	.sidebar-primary,
	.sidebar-secondary {
		@include xy-cell-size(4, $gutter-type: none);
		@include xy-gutters($gutters: $grid-padding-gutters, $gutter-type: padding);

		@include breakpoint(medium) {
			@include xy-cell-size(4, $gutter-type: none);
		}

		@include breakpoint(large) {
			@include xy-cell-size(4, $gutter-type: none);
		}
	}
}

.layout-2c-r {
	main.content {
		@include xy-cell-size(12, $gutter-type: none);
		@include xy-gutters($gutters: $grid-padding-gutters, $gutter-type: padding);

		@include breakpoint(medium) {
			@include xy-cell-size(8, $gutter-type: none);
			order: 2;
		}

		@include breakpoint(large) {
			@include xy-cell-size(8, $gutter-type: none);
			order: 2;
		}
	}
	.sidebar-primary,
	.sidebar-secondary {
		@include xy-cell-size(4, $gutter-type: none);
		@include xy-gutters($gutters: $grid-padding-gutters, $gutter-type: padding);

		@include breakpoint(medium) {
			@include xy-cell-size(4, $gutter-type: none);
			order: 1;
		}

		@include breakpoint(large) {
			@include xy-cell-size(4, $gutter-type: none);
			order: 1;
		}
	}
}