/* # Comments ===== */
#comments {
	margin-top: rem-calc(40);
}

/* ## Individual Comments ===== */
li.comment,
li.ping,
li.bypostauthor {
	margin: rem-calc(10 0 50 0);

	article {
		padding-bottom: rem-calc(20);
		border-bottom: 1px solid $chrome-color-light;
	}
}

.comment-header {
	margin-bottom: rem-calc(20);
	@include clearfix;
}

/* ## Comment Avatars ===== */
.comment-avatar {
	float: left;
	width: rem-calc(75);
	margin-right: rem-calc(15);

	img {
		@include radius(1000px);
	}
}

/* ## Comment Meta===== */
.comment-meta {
	float: left;
	padding-top: 2%;
	cite {
		display: block;
		font-style: normal;
		font-weight: bold;
		line-height: 1;

		.bypostauthor &,
		.bypostauthor & a {
			color: $warning-color;
		}
	}

	time,
	.comment-permalink,
	.comment-edit-link {
		font-size: rem-calc(12);
		color: $chrome-color;
	}

	.ping & {
		float: none;
	}
}

/* ## Comment Content ===== */
.comment-content {
	padding-left: rem-calc(90);
}


/* ## Comment Reply ===== */
.comment-reply-link {
	margin-top: rem-calc(10);
	margin-bottom: 0;
	text-align: right;
	font-size: rem-calc(12);
	color: $chrome-color;
}
.comment-reply-link:hover {}


/* ## Comment Form ===== */
#respond {

	.log-in-out {}

	label {
		.required {}
	}

	input[type="text"] {}
	input[type="text"]:focus {}

	input[type="url"] {}
	input[type="url"]:focus {}

	input[type="email"] {}
	input[type="email"]:focus {}

	input[type="submit"] {}
	input[type="submit"]:focus {}
	input[type="submit"]:hover {}

	textarea {}
	textarea:focus {}
}

#reply-title {
	small {}
}

