/**
 * Content
 * --------------------------------------------------------------------------- */

/* ====== BREADCRUMBS ====== */
.breadcrumbs > *:before {
	content: none;
}

.breadcrumb-trail {

	.trail-begin {}

	.trail-end {}

	.sep {
		margin: 0 rem-calc(10);
	}

	a {}
	a:hover {}

}

/* ====== POSTS ====== */

.hentry  {}
.sticky {}

	/* === Post Header === */

	.entry-header {}

		.entry-title {}

			.entry-title a {}
			.entry-title a:hover {}

		.entry-byline {}

			.entry-byline a {}
			.entry-byline a:hover {}

			.entry-byline .published {}

	/* === Post content and excerpts === */

	.entry-content {}

	.entry-summary {}

	/* === Post Footer === */

	.entry-footer {}

		.entry-meta {}

			.entry-meta a {}
			.entry-meta a:hover {}

			.entry-meta .published {}

			.entry-meta .category {}
			.entry-meta .post_tag {}

	/* === Asides === */

	.format-aside {}

		.format-aside .entry-content a.permalink {}

	/* === Chats === */

	.format-chat {}

		.format-chat .chat-row {}

			.format-chat .chat-text {}

			.format-chat cite {}

			.format-chat .chat-speaker-1 {}
			.format-chat .chat-speaker-2 {}
			.format-chat .chat-speaker-3 {}
			.format-chat .chat-speaker-4 {}
			.format-chat .chat-speaker-5 {}
			.format-chat .chat-speaker-6 {}
			.format-chat .chat-speaker-7 {}
			.format-chat .chat-speaker-8 {}
			.format-chat .chat-speaker-9 {}

	/* === Links === */

	.format-link {}

		.format-link .entry-title {}

			.format-link .entry-title a {}
			.format-link .entry-title a:hover {}

				.format-link .entry-title a .meta-nav {}

	/* === Galleries === */

	.format-gallery {}

		.format-gallery .image-count {}

	/* === Quotes === */

	.format-quote {}

		.format-quote blockquote {}

			.format-quote blockquote cite {}

	/* === Status updates === */

	.format-status

		.format-status .avatar {}

	/* === Audio and Video === */

	.format-video {}
	.format-audio {}