/**
 * Header
 * --------------------------------------------------------------------------- */
// Show/hide nav elements
.offcanvas-navigation {
	.tab-bar {
		display: block;
	}

	.top-bar {
		display: none;
	}

	@media #{$medium-up} {
		.tab-bar {
			display: none;
		}

		.top-bar {
			display: block;
		}
	}
}

.popup-navigation {
	.off-canvas-menu {
		transform: none;
		opacity: 0;
		width: 100vw;
		height: 0;
		-webkit-transition: opacity 0.25s ease-in-out;
		-moz-transition: opacity 0.25s ease-in-out;
		-o-transition: opacity 0.25s ease-in-out;
		transition: opacity 0.25s ease-in-out;
	}
}

.popup-active {
	height: 100vh;
	overflow: hidden;

	.off-canvas-menu {
		position: absolute;
		top: 0;
		width: 100vw;
		height: 100vh;
		background: #000;
		opacity: 0.9;
		-webkit-transition: opacity 0.25s ease-in-out;
		-moz-transition: opacity 0.25s ease-in-out;
		-o-transition: opacity 0.25s ease-in-out;
		transition: opacity 0.25s ease-in-out;
		overflow: auto;
		transform: none;
	}
}

// Top menu link
.top-bar-section ul li {
	&:not(.has-form) > a {

	}
	&:hover:not(.has-form) > a {

	}
}

// Dropdown triangle color (use border-color)
.top-bar-section .has-dropdown > a:after {

}

// Dropdown links
.top-bar-section .dropdown li:not(.has-form):not(.active) {
	> a:not(.button) {

	}

	&:hover > a:not(.button) {

	}
}

li.description {
	display: none;
}