/* # Header ===== */
.no-js [data-responsive-toggle] {
	display: none;
}

// Show/hide nav elements
.offcanvas-navigation {
	.top-bar {
		display: none;
	}

	@include breakpoint(medium up) {
		.top-bar {
			display: flex;
		}
	}
}

.popup-navigation {
	.off-canvas-menu {
		transform: none;
		opacity: 0;
		width: 100vw;
		height: 0;
		transition: opacity 0.25s ease-in-out;
	}
}

.popup-active {
	height: 100vh;
	overflow: hidden;

	.off-canvas-menu {
		position: absolute;
		top: 0;
		width: 100vw;
		height: 100vh;
		background: #000;
		opacity: 0.9;
		transition: opacity 0.25s ease-in-out;
		overflow: auto;
		transform: none;
	}
}

/* Custom Top Bar Styles */

// Center the title and menu
/*.top-bar {
	display: flex;

	.menu-primary {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}*/

// Top menu link
.top-bar-section ul li {
	&:not(.has-form) > a {

	}
	&:hover:not(.has-form) > a {

	}
}

// Dropdown triangle color (use border-color)
.top-bar-section .has-dropdown > a:after {

}

// Dropdown links
.top-bar-section .dropdown li:not(.has-form):not(.active) {
	> a:not(.button) {

	}

	&:hover > a:not(.button) {

	}
}

li.description {
	display: none;
}
