/* # Popup Navigation ===== */
.popup-navigation-trigger {
	position: absolute;
	top: 0;
	right: $column-gutter/2;
	line-height: $topbar-height;
	font-size: rem-calc(14);

	@media #{$medium-up} {
		display: none;
	}

	span {
		padding: rem-calc(3 5);
		border: 1px solid $primary-color;
		@include radius(2px);
	}
}

.popup-navigation-close {
	display: block;
	padding: rem-calc(10) $column-gutter/2;
	text-align: right;
	font-size: rem-calc(14);

	span {
		padding: rem-calc(3 5);
		@include radius(2px);
		border: 1px solid $primary-color;
	}
}

.popup-navigation {
	.off-canvas-menu {
		> ul {
			margin: 0 auto;
			width: 80%;
		}
	}
}