/**
 * WordPress Specific Styles
 * --------------------------------------------------------------------------- */

/* Gallery
   ======================================= */
.gallery {
	.gallery-row {
		@include grid-row($behavior: nest);
	}
	.col-3 {
		@include grid-column($total-columns/3, $float: left);
	}

	.gallery-item {

		.gallery-icon {
			margin: 0 0 $column-gutter / 2;

			img {
				border: $column-gutter / 2 solid #fff !important;
			}

		}

		.gallery-caption {
			font-style: italic;
		}

	}

}

/* Comments
   ======================================= */
.comment-list {
	margin-left: 0;
	list-style-type: none;
	.children {
		list-style-type: none;
	}
}

/* Image Alignment
   ======================================= */
.alignnone {
	margin: $column-gutter / 2 $column-gutter $column-gutter 0;
}

.aligncenter, div.aligncenter {
	display: block;
	margin: 0 auto $column-gutter / 2 auto;
}

.alignright {
	float: right;
	margin: 0 0 $column-gutter $column-gutter;
}

.alignleft {
	float: left;
	margin: 0 $column-gutter $column-gutter 0;
}

.aligncenter {
	display: block;
	margin: 0 auto $column-gutter / 2 auto;
}

a img.alignright {
	float: right;
	margin: 0 0 $column-gutter $column-gutter;
}

a img.alignnone {
	margin: 0 $column-gutter $column-gutter 0;
}

a img.alignleft {
	float: left;
	margin: 0 $column-gutter $column-gutter 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.bypostauthor {
	visibility: inherit;
}

img.alignnone,
img.alignright,
img.alignleft,
img.aligncenter {
	max-width: 100%;
	height: auto;
}

.sticky {
	visibility: inherit;
}

.wp-caption {
	background: #fff;
	max-width: 96%; /* Image does not overflow the content area */
	padding: $column-gutter / 2;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 0 $column-gutter $column-gutter 0;
}

.wp-caption.alignleft {
	margin: 0 $column-gutter $column-gutter 0;
}

.wp-caption.alignright {
	margin: 0 0 $column-gutter $column-gutter;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 85%;
	margin: 0;
	padding: 0 $column-gutter / 2 / 2 $column-gutter / 2;
}

/* Admin Bar
   ======================================= */
@media screen and (max-width:600px) {
	#wpadminbar {
		position: fixed;
	}
}