/* # Posts ===== */

/* ## Post Header ===== */
.entry-byline {
	margin-bottom: rem-calc(20);
	color: $medium-gray;
	font-size: rem-calc(12);

	a {
		color: $medium-gray;

		&:hover {
			color: $primary-color;
		}
	}

	.comments-link,
	.entry-published,
	.post-edit-link {
		&:before {
			content: '/';
			padding: rem-calc(0 10 0 5);
			color: $medium-gray;
		}
	}
}

/* ## Post Footer ===== */
.entry-footer {
	padding: rem-calc(10 0);
	margin: rem-calc(20 0);
	color: $medium-gray;
	font-size: rem-calc(12);
	border-top: 1px solid $light-gray;
	border-bottom: 1px solid $light-gray;
}

.loop-nav {
	.prev,
	.next {
		float: left;

		span {
			display: block;
			font-size: rem-calc(12);
			color: $medium-gray;
		}
	}

	.prev {
		width: 50%;
	}

	.next {
		width: 100%;
	}

	.prev + .next {
		width: 50%;
	}

	.next {
		text-align: right;
	}
}