/* # Foundation Normalization ===== */
address {
	margin-bottom: rem-calc(16);
	font-style: normal;
}

/* Foundation sizes abbr at 90%. Undo that */
abbr {
	font-size: 100%;
}

/* Undo styles for vcard */
.vcard {
	display: inline;
	margin: 0;
	padding: 0;
	border: transparent none;
	a, .fn {
		font-size: 100%;
		font-weight: normal;
	}
	cite {
		font-style: normal;
	}
}

/* Inputs should be like buttons */
input[type="submit"] {
	@include button( $button-tny, $radius: true );
}


.screen-reader-text {
	display: none;
}

/* # General Styles ===== */
table {
	width: 100%;
	border: none;

	th {
		border-top: 1px solid $chrome-color;
		border-bottom: 2px solid $chrome-color;
	}
}

pre {
	margin-bottom: rem-calc(16);
	padding: rem-calc(20);
	background: $chrome-color-light;
}

blockquote {
	margin-bottom: rem-calc(16);
	padding: rem-calc(20 20 1 20);
	background: $chrome-color-light;

	cite {
		margin-top: rem-calc(8);
	}
}