@mixin gradient($start, $stop) {
	background: $start; /* Old browsers */
	background: -moz-linear-gradient(top, $start 0%, $stop 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start), color-stop(100%,$stop)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $start 0%, $stop 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $start 0%, $stop 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $start 0%, $stop 100%); /* IE10+ */
	background: linear-gradient(to bottom, $start 0%, $stop 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$stop',GradientType=0 ); /* IE6-9 */
}

@mixin placeholder($color) {
	&::-webkit-input-placeholder {
		color: $color;
	}

	&:-moz-placeholder { /* Firefox 18- */
		color: $color; 
	}

	&::-moz-placeholder {  /* Firefox 19+ */
		color: $color;  
	}

	&:-ms-input-placeholder {  
		color: $color; 
	}
}

@mixin box-shadow($horizontal-offset: 1px, $vertical-offset: 1px, $blur-radius: 1px, $spread-radius: 0px, $color: #000) {
	-webkit-box-shadow: $horizontal-offset $vertical-offset $blur-radius $spread-radius $color;
	-moz-box-shadow: $horizontal-offset $vertical-offset $blur-radius $spread-radius $color;
	box-shadow: $horizontal-offset $vertical-offset $blur-radius $spread-radius $color;
}

@mixin font-face($name, $slug, $weight: normal, $style: normal) {
	font-family: $name;
	src: url($slug + '.eot');
	src: url($slug + '.eot?#iefix') format('embedded-opentype'),
		 url($slug + '.woff2') format('woff2'),
		 url($slug + '.woff') format('woff'),
		 url($slug + '.ttf')  format('truetype'),
		 url($slug + '.svg#svgFontName') format('svg');
	font-weight: $weight;
	font-style: $style;
}

@mixin hide-text() {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex: $values;
	-webkit-flex: $values;
	-ms-flex: $values;
	flex: $values;
}

@mixin order($val) {
	-webkit-box-ordinal-group: $val;
	-moz-box-ordinal-group: $val;
	-ms-flex-order: $val;
	-webkit-order: $val;
	order: $val;
}