/* # WordPress Specific Styles ===== */

/* ## Skip Link ===== */
.skip-link {
	display: none;
}

/* ## Gallery ===== */
.gallery {
	.gallery-row {
		@include grid-row($behavior: nest);
	}
	@for $i from 1 through 4 {
		.col-#{$i} {
			@include grid-column($grid-column-count/$i);
		}
	}

	.gallery-item {
		float: left;
		margin: 0;

		.gallery-icon {
			padding: rem-calc(15);
			text-align: center;
		}

		.gallery-caption {
			font-style: italic;
		}

	}

}

@for $i from 1 through 9 {
	.gallery-columns-#{$i} {
		.gallery-item {
			width: 100%/$i;
		}
	}
}

/* ## Comments ===== */
.comment-list {
	margin-left: 0;
	list-style-type: none;
	.children {
		list-style-type: none;
	}
}

/* ## Image Alignment ===== */
.alignnone {
	margin: $grid-column-gutter/2 $grid-column-gutter/2 $grid-column-gutter/2 0;
}

.aligncenter, div.aligncenter {
	display: block;
	margin: 0 auto $grid-column-gutter/2 auto;
}

.alignright {
	float: right;
	margin: 0 0 $grid-column-gutter/2 $grid-column-gutter/2;
}

.alignleft {
	float: left;
	margin: 0 $grid-column-gutter/2 $grid-column-gutter/2 0;
}

a img.alignright {
	float: right;
	margin: 0 0 $grid-column-gutter/2 $grid-column-gutter/2;
}

a img.alignnone {
	margin: 0 $grid-column-gutter/2 $grid-column-gutter/2 0;
}

a img.alignleft {
	float: left;
	margin: 0 $grid-column-gutter/2 $grid-column-gutter/2 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.bypostauthor {
	visibility: inherit;
}

img.alignnone,
img.alignright,
img.alignleft,
img.aligncenter {
	max-width: 100%;
	height: auto;
}

.sticky {
	visibility: inherit;
}

.wp-caption {
	background: #fff;
	max-width: 96%; /* Image does not overflow the content area */
	padding: $grid-column-gutter/2;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 0 $grid-column-gutter/2 $grid-column-gutter/2 0;
	padding: 0;
}

.wp-caption.alignleft {
	margin: 0 $grid-column-gutter/2 $grid-column-gutter/2 0;
	padding: 0;
}

.wp-caption.alignright {
	margin: 0 0 $grid-column-gutter/2 $grid-column-gutter/2;
	padding: 0;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 85%;
	margin: 0;
	padding: 0 $grid-column-gutter/2;
}

figcaption {
	margin-top: rem-calc(5);
	font-size: rem-calc(12);
	color: $medium-gray;
}

/* ## Admin Bar ===== */
@media screen and (max-width:600px) {
	#wpadminbar {
		position: fixed;
	}
}
